[submodule "lib/fontatlas"]
	path = lib/fontatlas
	url = https://github.com/camilomdeoca/fontatlas.git
[submodule "lib/flecs"]
	path = lib/flecs
	url = https://github.com/SanderMertens/flecs.git
[submodule "lib/imgui"]
	path = lib/imgui/imgui
	url = https://github.com/camilomdeoca/imgui.git
[submodule "lib/ImGuizmo"]
	path = lib/ImGuizmo/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
[submodule "lib/implot/implot"]
	path = lib/implot/implot
	url = https://github.com/epezent/implot.git
[submodule "lib/cgltf/cgltf"]
	path = lib/cgltf/cgltf
	url = https://github.com/jkuhlmann/cgltf.git
[submodule "lib/nativefiledialog-extended"]
	path = lib/nativefiledialog-extended
	url = https://github.com/btzy/nativefiledialog-extended.git
