[submodule "lib/fontatlas"]
	path = lib/fontatlas
	url = https://github.com/camilomdeoca/fontatlas.git
[submodule "lib/paca-tools"]
	path = lib/paca-tools
	url = https://github.com/camilomdeoca/paca-tools.git
[submodule "lib/cpp-serializer-generator"]
	path = lib/cpp-serializer-generator
	url = https://github.com/camilomdeoca/cpp-serializer-generator.git
